* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    /* background-image: url(../images/sunset-1373171_1280.jpg); */
    background-repeat: no-repeat;
    max-height: fit-content;
    background-size: cover;
    align-self: auto;
}


.sidebar {
  margin-top: -1%;
  height: 91vh;
  overflow-y: hidden;
}

.sidebar:hover {
  overflow-y: auto;
}

.sidebar-item {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.sidebar-item.active {
  background-color: #e0e0e0;
}

.sidebar-item.answered {
  background-color: #b3ffb3;
}

.custom-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.custom-dropdown:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.background {
    margin: 0;
    background-color: black;
    background-size: cover;
    max-height: fit-content;
    background-repeat: no-repeat;
    align-self: auto;
}

  
nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 50px;
  padding: 30px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: rgb(46, 27, 27);
  font-weight: 700;
  font-size: 22px;
}


.tital_text {
    margin-right: auto;
    color: black;
    font-weight: 700;
    font-size: 50px;
}

.description_text {
    margin-right: auto;
    color: black;
    font-weight: 700;
    font-size: 15px;
}
.otp_text {
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 25px;
}

.nav--title {
    color: #030303;
    font-weight: 600;
    margin-top: 20px;
    max-width: 1000px;
}

.nav--icon {
    height: 50px;
    margin-right: 7px;
}

/* 
Challenge: Place the gray react logo in the background

Don't use an `img` element, but rather set it as the
`background-image` of the `main` element.

Hint: you'll need to use the following properties:
- background-image
- background-repeat
- background-position

(Or the shorthand `background` property with values for all
those other properties)
*/

main {
    margin: 0;
    padding: 57px 27px;
    color: white;
    
    background-color: azure;
    
    background-position: center;
}


.main--title {
    margin: 0;
    font-size: 40px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .spinner {
    border: 6px solid #3498db;
    border-top: 6px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-message {
    margin-top: 16px;
    font-size: 16px;
    color: white;
  }